// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-header{
    border-top:0px;
    border-bottom:0px;
}
.site-title{
    font-weight: 100;
    font-size:2em;
    font-family: "Sawarabi Mincho", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.post-list h3{
    margin-bottom: 0px;
}

.page-content p a{
    text-decoration: underline;
    font-size: 0.9375em;
    border: 1px solid $border-color-01;
    border-radius: 7px;
    background-color: $code-background-color;
    padding: 3px 5px;
}

pre, code{
    border-radius: 7px;
}

.highlight{
    border-radius:7px;
}

.site-footer{
    border-top:0px;
}