// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "gill sans", sans-serif;
$base-font-size:   18px;

/* $base-font-size:   20px;

$link-base-color:       #d6ad32;
$link-visited-color:    darken($link-base-color, 5%);

$background-color:      #38465b;
$code-background-color: #04242d;
$text-color:            #b9c2cc;
$brand-color:           #a3a3a3;
$site-title-color:      #e8ba31;
*/